{% extends "base.html" %}

{% block extra_head %}
    <style type="text/css">
        .download-file-icon {
            padding-right: 8px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Download status for <code>{{ status.file_number }}</code></h1>

        <div class="content-area">
            {% include "_download_status.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        var request_id = "{{ status.request_id }}";
        var page_update = {
            schedule: function() {
                setTimeout(page_update.update_page, 2000);
            },
            update_page: function() {
                $.get("/efolder-express/download/" + request_id + "/json/", function(data) {
                    $(".content-area").html(data.html);
                    if (!data.completed) {
                        page_update.schedule();
                    }
                });
            }
        };

        $(function() {
            $.ajaxSetup({cache: false});
            page_update.schedule();
        });
    </script>
{% endblock %}
