{% extends "base.html" %}

{% block body %}
    <div class="jumbotron">
        <h1>Welcome to eFolder Express!</h1>
        <p class="lead">
            <form action="/download/" method="post">
                <input type="text" class="form-control" placeholder="File number (e.g. 123456789)" aria-describedby="basic-addon2" name="file_number" autofocus="autofocus">
                <br />
                <button type="submit" class="btn btn-lg btn-primary">Download!</button>
            </form>
        </p>
    </div>
{% endblock %}
